/*---------- gemeral layout -------------*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
}

.sidebar {
  border: 1px solid black;
  position: fixed;
  height: 100dvh;
  width: 20dvw;
  padding: 1rem;
}

.dashboard {
  position: relative;
  margin-left: 20dvw;
  border: 1px solid red;
  padding: 1rem;
  width: 80dvw;
  z-index: 0;
}

.dashboard__navbar ul{
  display: flex;
  padding: 0;
  text-decoration: none;
  list-style: none;
  gap: 1rem;
}

/*---------- error message -------------*/

.error__message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: red;
  left: 50%;
  transform: translateY(-100%);
  text-align: center;
  overflow: hidden;
}

.error--animation {
  animation: error_Animation 3s ease-in-out 2 500ms ;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0,1.02,0,1.01);
  
}

.sidebar__folders {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

@keyframes error_Animation {
  0% {
    transform: translate(100px, -100%);
    background-color: red;
    width: 0px;
  }

  100% {
    transform: translate(0px, 5%);
    background-color: blue;
    width: 200px;
  }
}

/*---------- sidebar and dropMenu -------------*/

.sidebar__folder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.sidebar__dropdown {
  display: inline;
  position: relative;
  background-color: red;
}

.sidebar__dropbtn {
  padding: 0 5px;
  background-color: black;
  color: white;
}

.sidebar__dropdown_content {
  display: none;
  position: absolute;
  background-color: pink;
  min-width: 70px;
  padding: 10px;
  z-index: 1;
}

.dropdown_active {
  display: flex;
  flex-direction: column;
  transform: translateX(-75%);
}