* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
}

.sidebar {
  border: 1px solid black;
  position: fixed;
  height: 100dvh;
  width: 20dvw;
  padding: 1rem;
}

.dashboard {
  position: relative;
  margin-left: 20dvw;
  border: 1px solid red;
  padding: 1rem;
  width: 80dvw;
}

.dashboard__navbar ul{
  display: flex;
  padding: 0;
  text-decoration: none;
  list-style: none;
  gap: 1rem;
}

.error__message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: red;
  left: 50%;
  transform: translateY(-100%);
  text-align: center;
  overflow: hidden;
}

.error--animation {
  animation: error_Animation 3s ease-in-out 2 500ms ;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0,1.02,0,1.01);
  
}

.sidebar__folders {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

@keyframes error_Animation {
  0% {
    transform: translate(100px, -100%);
    background-color: red;
    width: 0px;
  }

  100% {
    transform: translate(0px, 5%);
    background-color: blue;
    width: 200px;
  }
}